{% extends 'homebase.html' %}
{% block title %} {{ setting.title }}{% endblock %}
{% block description %} index description {% endblock %}
{% block keywords %} index keywords {% endblock %}

<!-- aşağı kısım sonradan eklenecek -->
{% block head %} <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}" >  {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %}  {% endblock %}

{% block body %}

        <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Contact Us</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Anasayfa</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Kullanıcı Profili</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            {% include 'user_panel.html' %}
                       <div class="col-lg-9 table-responsive mb-5">
                          <form method="POST" enctype = "multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                               {{ form.media }}

    {{ form.as_p }}

                        </fieldset>
                        <div class="form-group">

<img src="{{ product.image.url }}" alt="img">

                            <button class="primary-btn" type="submit">Güncelle</button>
                        </div>
                    </form>

                            {% for field in form %}
                                <p>
                               {{ field.name }}     {% if field == form.image %}<img src="{{ form.instance.image.url }}" alt="img">{% endif %}{{ field }}
                                </p>
                           {% endfor %}

            </div>
        </div>
    </div>
    <!-- Contact End -->





 {% endblock %}


